@media (max-width: 833px){
.center{
    padding-left: 16px;
    padding-right: 16px;
}    
.header{
    background-image: url(img/Star-telephon-35px.svg), url(img/star-telephone-21px.svg), url(img/star-telrphone.svg), url(img/Star-telephone-18px.svg), url(img/Star-telephone-38px.svg);
    background-repeat: no-repeat;
    background-position: 37px 97px, 91px 64px, 215px -80px, 272px 557px, 303px 580px;
    padding-top: 147px;
    padding-bottom: 131px;
    display: flex;
    justify-content: center;
&__content{
   width: 343px;
   gap: 36px;
   align-items: center;
}
&__box{
  max-width: 296px; 
  align-items: center;
}    
&__titel{
    font-size: 40px;  
    line-height: 49px;   
    text-align: center;
    width: 262px;
}   
&__heading{
    font-size: 16px;
} 
&__butten{
    font-size: 16px;
    width: 285px;
    height: 55px;
}
}
.animated{
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
}

.content{
    display: none;
}

.content__title{
font-size: 40px;
line-height: 49px;
}

.play{
    padding-bottom: 50px;
    gap: 48px;
   &__cards{
    gap: 24px;
    align-items: center;
   }
   &__card{
    width: 343px;
    min-height: 343px;
   }
   &__title{
    font-size: 32px;
    line-height: 39px;
   }
   &__info{
    font-size: 16px;
    line-height: 20px;
   }
   &__box{
    gap: 32px;
    padding: 29px 29px 33px 29px;
    order: 2;
   }
   &__img{
    min-width: 285px;

    order: 1;
   }
   &__info{
    width: 285px;
   }

}
.footer{
    font-size: 16px;
    line-height: 29px;
    padding-top: 40px;
    padding-bottom: 40px;
}
}